node_modules
bower_components
composer.phar
vendor
.tmp/rf.css
cache/*.php
composer.lock
public/udb/*
public/udb/thumbs/*
!public/udb/thumbs/thumb.jpg
_private/udb/*
_private/udb/thumbs/*
!_private/udb/thumbs/thumb.jpg
config/database.php
config/settings.php
config/redis.php
logs/propel.log
logs/app.log
version.txt
