    <section class="page-header" id="menu">
      <a id="toggle" href="#" class="fa fa-bars"></a>
      <h1 class="project-name">
        <img src="/rokfor-screenshots/logo-w.svg">
      </h1>
      <h2 class="project-tagline">Api Documentation</h2>
      <a href="/" class="btn">About</a>      
      <a href="/installation" class="btn">Installation</a>            
      <a href="/usage" class="btn">Usage</a>
      <a href="/api" class="btn">Api</a>      
      <a href="/examples" class="btn">Examples</a>
      <a href="http://docs.rokfor.apiary.io" class="btn"><i class="fa fa-external-link"></i> &nbsp; Documentation</a>
    </section>