    <section class="page-header">
      <h1 class="project-name">
        <img src="/rokfor-screenshots/logo-w.svg">
      </h1>
      <h2 class="project-tagline">Api Documentation</h2>
      <a href="/" class="btn">About</a>      
      <a href="/installation" class="btn">Installation</a>            
      <a href="/backend" class="btn">Backend</a>
      <a href="/api" class="btn">Api</a>      
      <a href="https://github.com/Rokfor/rokfor-slim" class="btn">GitHub</a>
      <a href="http://docs.rokfor.apiary.io" class="btn">Documentation</a>
      <a href="/todo" class="btn">Todo</a>
    </section>