//colors
$color_pumice_50_approx: rgba(200,200,200,.5);
$color_pumice_approx: rgba(200,200,200,1);
$color_astral_90_approx: rgba(54, 127,169,0.9);
$color_mountain_mist_approx: #919191;
$white: #fff;
$white_80: rgba(255, 255, 255, 0.8);
$white_20: rgba(255, 255, 255, 0.2);
$white_30: rgba(255, 255, 255, 0.3);
$color_astral_approx: rgba(54, 127,169, 1);
$color_alizarin_crimson_approx: #e22;
$color_cape_cod_approx: #383e41;
$color_black_squeeze_approx: #f3f6fa;
$color_bismark_approx: #567482;
$color_link_water_approx: #dce6f0;
$color_gray_nurse_approx: #e9ebec;
$color_athens_gray_approx: #eff0f1;
$color_regent_gray_approx: #819198;

//fonts
$font_0: Source Sans Pro;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
$font_4: Consolas;
$font_5: Liberation Mono;
$font_6: Menlo;
$font_7: Courier;
$font_8: monospace;

//@extend-elements
//original selectors
//.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6
%extend_1 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: normal;
	color: $color_alizarin_crimson_approx;
}

//original selectors
//.main-content .highlight pre, .main-content pre
%extend_2 {
	padding: 0.8rem;
	overflow: auto;
	font-size: 0.9rem;
	line-height: 1.45;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0.3rem;
}

//original selectors
//.main-content pre code, .main-content pre tt
%extend_3 {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}


* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
.infographic {
	display: block;
	background: $color_pumice_50_approx;
	margin: auto;
	width: 70%;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	&:hover {
		background: $color_pumice_approx;
	}
}
body {
	padding: 0;
	margin: 0;
	font-family: $font_0, $font_1, $font_2, $font_3;
	font-size: 16px;
	line-height: 1.5;
	background: $color_mountain_mist_approx;
	color: $white;
}
a {
	color: $white;
	border-bottom: 1px dotted;
	text-decoration: none;
	&:hover {
		border-bottom: 1px solid;
	}
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	color: $white;
	border-color: $white;
	border-bottom: 1px solid;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	&:hover {
		color: $white_80;
		text-decoration: none;
		background-color: $white_20;
		border-color: $white_30;
	}
	+ .btn {
		margin-left: 1rem;
	}
}
@media screen and(min-width: 64em) {
	.btn {
		padding: 0.75rem 1rem;
	}
	.page-header {
		padding: 3rem 6rem;
	}
	.project-name {
		font-size: 3.25rem;
	}
	.project-tagline {
		font-size: 1.25rem;
	}
	.main-content {
		max-width: 64rem;
		padding: 2rem 6rem;
		margin: 0 auto;
		font-size: 1.1rem;
	}
	.site-footer {
		font-size: 1rem;
	}
}
@media screen and(min-width: 42em) and(max-width: 64em) {
	.btn {
		padding: 0.6rem 0.9rem;
		font-size: 0.9rem;
	}
	.page-header {
		padding: 3rem 4rem;
	}
	.project-name {
		font-size: 2.25rem;
	}
	.project-tagline {
		font-size: 1.15rem;
	}
	.main-content {
		padding: 2rem 4rem;
		font-size: 1.1rem;
	}
	.site-footer {
		font-size: 1rem;
	}
}


@media screen and(min-width: 42em) {
  .fix {
  	position: fixed;
  	width: 100%;
  	background-color: $color_astral_90_approx !important;
  	padding: 0 6rem !important;
  	a {
  		border: none !important;
  	}
  	h1 {
  		display: none !important;
  	}
  	h2 {
  		display: none !important;
  	}
  }
  #toggle {
    display: none;
  }
}

@media screen and(max-width: 42em) {
	.btn {
		display: block;
		width: 100%;
		padding: 0.75rem;
		font-size: 0.9rem;
		+ .btn {
			margin-top: 1rem;
			margin-left: 0;
		}
	}
	.page-header {
		padding: 1.2rem 0rem 0rem 0rem;
    max-height: 4rem;
    overflow: hidden;
  	transition: all 0.3s ease-in-out !important;
    position: absolute;
    top: 0;
    width: 100%;
    &.toggled {
      max-height: 40rem !important;      
    }
    & + section {
        margin-top: 4rem;
    }
  	a {
      margin: 0 !important;
      border-bottom: none;
      border-top: 1px solid;      
  	}
    h2 {
      display: none;
    }
    h1 {
      margin-bottom: 1em;
    }
	}
  
  
	.project-name {
		font-size: 1rem;
    line-height: 1rem;
  	img {
  		width: auto !important;
      min-width: none;
      height: 1.75rem;
      margin: 0 !important;
      padding: 0 !important;
    }
	}
  
  #toggle {
    float: left;
    padding-left: 1rem;
    border: none;
    font-size: 1.75rem;
  }
  
	.project-tagline {
		font-size: 1rem;
	}
	.main-content {
		padding: 2rem 1rem;
		font-size: 1rem;
	}
	.site-footer {
		font-size: 0.9rem;
	}
}
.page-header {
	color: $white;
	text-align: center;
	background-color: $color_astral_approx;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.project-name {
	margin-top: 0;
	margin-bottom: 0.1rem;
	img {
		width: 33%;
		max-width: 400px;
	}
}
.project-tagline {
	margin-bottom: 2rem;
	font-weight: normal;
	opacity: 0.7;
}
.main-content {
	:first-child {
		margin-top: 0;
	}
	img {
		max-width: 100%;
	}
	h1 {
		@extend %extend_1;
	}
	h2 {
		@extend %extend_1;
	}
	h3 {
		@extend %extend_1;
	}
	h4 {
		@extend %extend_1;
	}
	h5 {
		@extend %extend_1;
	}
	h6 {
		@extend %extend_1;
	}
	p {
		margin-bottom: 1em;
	}
	code {
		padding: 2px 4px;
		font-family: $font_4, $font_5, $font_6, $font_7, $font_8;
		font-size: 0.9rem;
		color: $color_cape_cod_approx;
		background-color: $color_black_squeeze_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0.3rem;
	}
	pre {
		padding: 0.8rem;
		margin-top: 0;
		margin-bottom: 1rem;
		font: 1rem $font_4, $font_5, $font_6, $font_7, $font_8;
		color: $color_bismark_approx;
		word-wrap: normal;
		background-color: $color_black_squeeze_approx;
		border: solid 1px $color_link_water_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0.3rem;
		@extend %extend_2;
		> code {
			padding: 0;
			margin: 0;
			font-size: 0.9rem;
			color: $color_bismark_approx;
			//Instead of the line below you could use @include word-break($value)
			word-break: normal;
			white-space: pre;
			background: transparent;
			border: 0;
		}
		code {
			@extend %extend_3;
			&:before {
				content: normal;
			}
			&:after {
				content: normal;
			}
		}
		tt {
			@extend %extend_3;
			&:before {
				content: normal;
			}
			&:after {
				content: normal;
			}
		}
	}
	.highlight {
		margin-bottom: 1rem;
		pre {
			margin-bottom: 0;
			//Instead of the line below you could use @include word-break($value)
			word-break: normal;
			@extend %extend_2;
		}
	}
	ul {
		margin-top: 0;
	}
	ol {
		margin-top: 0;
	}
	blockquote {
		padding: 0 1rem;
		margin-left: 0;
		border-left: 0.3rem solid $color_link_water_approx;
		> {
			:first-child {
				margin-top: 0;
			}
			:last-child {
				margin-bottom: 0;
			}
		}
	}
	table {
		display: block;
		width: 100%;
		overflow: auto;
		//Instead of the line below you could use @include word-break($value)
		word-break: normal;
		//Instead of the line below you could use @include word-break($value)
		word-break: keep-all;
		th {
			font-weight: bold;
			padding: 0.5rem 1rem;
			border: 1px solid $color_gray_nurse_approx;
		}
		td {
			padding: 0.5rem 1rem;
			border: 1px solid $color_gray_nurse_approx;
			&.noborder {
				border: none;
			}
		}
	}
	dl {
		padding: 0;
		dt {
			padding: 0;
			margin-top: 1rem;
			font-size: 1rem;
			font-weight: bold;
		}
		dd {
			padding: 0;
			margin-bottom: 1rem;
		}
	}
	hr {
		height: 2px;
		padding: 0;
		margin: 1rem 0;
		background-color: $color_athens_gray_approx;
		border: 0;
	}
}
.site-footer {
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: solid 1px $color_athens_gray_approx;
}
.site-footer-owner {
	display: block;
	font-weight: bold;
}
.site-footer-credits {
	color: $color_regent_gray_approx;
}