section.content
  each note in release_notification
    .row
      .col-lg-12
        .info-box
          span.info-box-icon(style="background: white;")
            i.fa.fa-info-circle
          .info-box-content
            .info-box-text(style="white-space: normal")!=$note
  if (is_array($contribution))
    h4=$translations['last_access_contribution']
    .row
      each box in contribution
        .col-sm-6.col-xs-12
          a.info-box.ajaxload(href='/rf/contribution/'.$box['__config__']->getId(), target=".content-wrapper#detail")
            span.info-box-icon.bg-green
              i.fa.fa-pencil
            .info-box-content
              span.info-box-text.text-muted
                b=$box['__config__']->getName()
              span.info-box-text.text-muted=$box['__config__']->getTemplatenames()->getName()
              span.info-box-text.text-muted=date($translations['datefield'], $box['date'])

  if (is_array($contributions))
    h4=$translations['last_access_contributions']
    .row
      each box in contributions
        .col-sm-6.col-xs-12
          a.info-box.ajaxload(href=$box['__config__'][url], target=".content-wrapper#list")
            span.info-box-icon.bg-red
              i.fa.fa-files-o
            .info-box-content
              span.info-box-text.text-muted
                b=date($translations['datefield'], $box['date'])
              span.info-box-text.text-muted=$box['__config__']['book']
              if ($box['__config__']['issue'] <> $box['__config__']['book'])
                span.info-box-text.text-muted=$box['__config__']['issue']
              if ($box['__config__']['issue'] <> $box['__config__']['chapter'])
                span.info-box-text.text-muted=$box['__config__']['chapter']

include ../js/csrf.js.jade
if ($remember)
  include ../js/remember.js.jade