section.content-header
  h1 Exported Documents
section.content
  .row
    .col-md-12
      .box.box-success
        .box-header.with-border
          h4 Files
        .box-body
          table.table.table-striped
            thead
              th Datum
              th Datei
              th Status
              th Hook
            tbody
              tr
                td 1.
                td File.pdf
                td
                  span.badge.bg-red Failed
                td a4-readinglist
              tr
                td 1.
                td File.pdf
                td
                  span.badge.bg-green Ok
                td a4-readinglist

        .box-footer
