script.
  $.rokfor.configschema_chapter = <?=$chapterschema;?>;
  $.rokfor.configschema_issue   = <?=$issueschema;?>;  
  $.rokfor.configschema_book    = <?=$issuebook;?>;  

  
section.content-header
  h1=end($breadcrumb)['name']
  ol.breadcrumb
    each crumb in breadcrumb
      li
        a(href='#')
          i.fa(class=crumb.class)
          span=crumb.name 

section.content
  .box
    .box-body
      .input-group.margin
        input.form-control#input_newbook(placeholder=$translations['structure_book_placeholder'], data-button="#button_newbook")
        span.input-group-btn
          button.btn.btn-success.disabled#button_newbook(data-input="#input_newbook")=$translations['structure_book_add']
  .sortable(data-sort="books")
    each book in structure
      .row.bookedit(id=$book['book']->getId())
        include ../parts/structure.book.jade

.modal.modal-danger.fade(tabindex="-1",role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal",  aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title=$translations['settings_modal_title']
      .modal-body
        p=$translations['settings_modal_body']
      .modal-footer
        button.btn.btn-danger.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
        button.btn.btn-default(type="button")=$translations['rfmodal_continue']

.modal.fade#rfaction_rights(tabindex="-1",role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal",  aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title=$translations['structure_rights_title']
      .modal-body
        select.form-control(name="Rights", type="text", multiple="true")
          each select in rights
            option(id="select_".$select->getId(), value=$select->getId())=$select->getGroup()
      .modal-footer
        button.btn.btn-primary.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
        button.btn.btn-default.rfmodal_continue(type="button")=$translations['rfmodal_continue']
        
.modal.fade#rfaction_jsonedit_chapter(tabindex="-1",role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal",  aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title=$translations['structure_settings_title']
      .modal-body
        .rfjsoneditor#jsoneditor_chapter
      .modal-footer
        button.btn.btn-primary.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
        button.btn.btn-default.rfmodal_continue(type="button")=$translations['rfmodal_continue']        


include ../js/csrf.js.jade
script.
  $.rokfor.initStructure();
