script.
  $.rokfor.configschema = <?=$schema;?>;
  $.rokfor.fieldspertemplate = [];

section.content-header
  h1=end($breadcrumb)['name']
  ol.breadcrumb
    each crumb in breadcrumb
      li
        a(href='#')
          i.fa(class=crumb.class)
          span=crumb.name 

section.content
  .box
    .box-body
      .input-group.margin
        input.form-control.onchange#input_newtemplate(placeholder=$translations['template_new_placeholder'], data-button="#button_newtemplate")
        span.input-group-btn
          button.btn.btn-success.disabled.templateaction#button_newtemplate(data-input="#input_newtemplate")=$translations['template_add']
  .sortable(data-sort="books")
    each template in templates
      .row.bookedit(id=$template->getId())
        include ../parts/templates.field.jade

.modal.fade#rfaction_jsonedit(tabindex="-1",role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal",  aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title=$translations['field_label_fieldconfig']
      .modal-body
        .rfjsoneditor#jsoneditor
      .modal-footer
        button.btn.btn-primary.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
        button.btn.btn-default.rfmodal_continue(type="button")=$translations['rfmodal_continue']

include ../js/csrf.js.jade
script.
  $.rokfor.initTemplates();
