section.content-header
  h1=$translations['users_title']
section.content
  .row
    .col-md-6
      .box.box-success
        .box-header.with-border
          .input-group.col-md-6(style="float: right;")
            span.input-group-btn
              button.btn.btn-default
                i.fa.fa-search
            input.form-control.search(type='text', name='table_search', placeholder='Search')
          h4=$translations['users_tableuser_title']
        .box-body
          include ../parts/users.table.jade
        .box-footer
          .input-group.col-md-2.pull-right
            span.input-group-btn
              button.btn.btn-default.paginate_right.pull-right
                i.fa.fa-arrow-right
              button.btn.btn-default.paginate_left.pull-right
                i.fa.fa-arrow-left
          button.btn.btn-success#useradd
            i.fa.fa-plus &nbsp;
            span=$translations['users_add']
    .col-md-6
      .box.box-success
        .box-header.with-border
          .input-group.col-md-6(style="float: right;")
            span.input-group-btn
              button.btn.btn-default
                i.fa.fa-search
            input.form-control.search(type='text', name='table_search', placeholder='Search')
          h4=$translations['users_tablegroup_title']
        .box-body
          include ../parts/groups.table.jade
        .box-footer
          .input-group.col-md-2.pull-right
            span.input-group-btn
              button.btn.btn-default.paginate_right.pull-right
                i.fa.fa-arrow-right
              button.btn.btn-default.paginate_left.pull-right
                i.fa.fa-arrow-left
          button.btn.btn-success#groupadd
            i.fa.fa-plus &nbsp;
            span=$translations['users_groupadd']
.modal.fade#usermodal(tabindex="-1",role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal",  aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title=$translations['users_modal_title']
      .modal-body
        form.user
          input#userid(name="id", type="hidden")
          .form-horizontal
              .form-group
                label.col-sm-4.control-label(for="username")=$translations['users_modal_role']
                .col-sm-8
                  select.form-control#role(name="role")
                    option(value="user")=$translations['users_modal_roleuser']
                    option(value="admin")=$translations['users_modal_roleadmin']
                    option(value="root")=$translations['users_modal_roleroot']
              .form-group
                label.col-sm-4.control-label=$translations['user_modal_groups']
                .col-sm-8
                  select.select2.form-control#group(name="group", multiple="multiple", style="width:100%")
              .form-group
                label.col-sm-4.control-label(for="username")=$translations['user_modal_name']
                .col-sm-8
                  input.form-control#user(name="username", type="text")
              .form-group
                label.col-sm-4.control-label(for="nemail")=$translations['user_modal_email']
                .col-sm-8
                  input.form-control#nemail(value="", name="email", type="text")
              .form-group
                label.col-sm-4.control-label(for="npassword")=$translations['user_modal_password']
                .col-sm-8
                  input.form-control#npassword(name="password", type="text")
                    
                    
                    
              .form-group
              .form-group
                .col-sm-4
                .col-sm-8
                  h4=$translations['profile_api']
                
              .form-group
                label.col-sm-4.control-label=$translations['profile_roapi']
                .col-sm-8
                  .input-group
                    input.form-control#api(value="", name="api", type="text")
                    span.input-group-btn
                      a.btn.btn-danger.apigen=$translations['profile_newapi']
              .form-group
                label.col-sm-4.control-label=$translations['profile_rwapi']
                .col-sm-8
                  .input-group
                    input.form-control#rwapi(value="", name="rwapi", type="text")
                    span.input-group-btn
                      a.btn.btn-danger.apigen=$translations['profile_newapi']

              .form-group
              .form-group
                .col-sm-4
                .col-sm-8
                  h4=$translations['profile_acl_title']

              .form-group
                label.col-sm-4.control-label=$translations['profile_acl']
                .col-sm-8
                  input.form-control#acl(value="", name="acl", type="text")                        
              .form-group
                .col-sm-4 &nbsp;
                .col-sm-8=$translations['profile_acl_text']
                
              .form-group
              .form-group
                .col-sm-4
                .col-sm-8
                  h4=$translations['CORS_title']
                
              .form-group
                label.col-sm-4.control-label=$translations['CORS_get']
                .col-sm-8
                  input.form-control#corsget(value="", name="corsget", type="text")                        
              .form-group
                label.col-sm-4.control-label=$translations['CORS_postputdel']
                .col-sm-8
                  input.form-control#corspostdelput(value="", name="corspostdelput", type="text")                                            
              .form-group                    
                .col-sm-4 &nbsp;
                .col-sm-8=$translations['CORS_infotext']                    
                    
                    
                    
                    
                    
                    
                    
      .modal-footer
        button.btn.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
        button.btn.btn-primary.rfmodal_continue(type="button")=$translations['rfmodal_continue']

.modal.fade#groupmodal(tabindex="-1",role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal",  aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title=$translations['users_modal_title']
      .modal-body
        form.user
          input#groupid(name="id", type="hidden")
          .form-horizontal
              .form-group
                label.col-sm-2.control-label(for="group")=$translations['user_modal_groupname']
                .col-sm-10
                  input.form-control#group(name="group", type="text")
              .form-group
                label.col-sm-2.control-label=$translations['user_modal_grouprbook']
                .col-sm-10
                  select.select2.form-control#rbook(name="rbook", multiple="multiple", style="width:100%")
              .form-group
                label.col-sm-2.control-label=$translations['user_modal_grouprformat']
                .col-sm-10
                  select.select2.form-control#rformat(name="rformat", multiple="multiple", style="width:100%")
              .form-group
                label.col-sm-2.control-label=$translations['user_modal_grouprissue']
                .col-sm-10
                  select.select2.form-control#rissue(name="rissue", multiple="multiple", style="width:100%")
              .form-group
                label.col-sm-2.control-label=$translations['user_modal_grouprtemplate']
                .col-sm-10
                  select.select2.form-control#rtemplate(name="rtemplate", multiple="multiple", style="width:100%")
              .form-group
                label.col-sm-2.control-label=$translations['user_modal_groupruser']
                .col-sm-10
                  select.select2.form-control#ruser(name="ruser", multiple="multiple", style="width:100%")
      .modal-footer
        button.btn.pull-left(type="button", data-dismiss="modal")=$translations['rfmodal_close']
        button.btn.btn-primary.rfmodal_continue(type="button")=$translations['rfmodal_continue']


include ../js/csrf.js.jade
script.
  $.rokfor.initUsers();
