doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title="Rokfor CMS"
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/assets/css/assets.min.css?v='.$commit)
    link(rel='stylesheet', href='/assets/css/rf.min.css?v='.$commit)
  body.hold-transition.skin-rokfor.fixed
    section.content
      .container
        .card
          .box.box-solid.box-danger
            .box-header.with-border
              h4 Rokfor Application Error
            .box-body
              p=($message ? $message : "Page not Found")
              if $help
                pre
                  i.fa.fa-question-circle &nbsp;
                  span!=$help
            .box-footer
              p <?=date('c')?>
