doctype html
html
  include parts/layout.meta.jade
  body.hold-transition.skin-rokfor.fixed
    section.content
      .container
        .card
          .box.box-solid.box-danger
            .box-header.with-border
              h4 Rokfor Application Error
            .box-body
              p Page not Found
            .box-footer
              p <?=date('c')?>