doctype html
html
  include parts/layout.meta.jade
  body.hold-transition.skin-rokfor.sidebar-mini.fixed
    .progress#loadbar(style="position: absolute; z-index: 10000").progress-xxs
      .progress-bar.progress-bar-danger.progress-bar-striped(style="width: 0%", role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
        .span.sr-only 60% Complete (warning)
    .wrapper
      include parts/layout.header.jade
      include parts/layout.menu.jade
      .content-wrapper#list
        include content-wrapper/dashboard.jade
      .content-wrapper#detail(style="display:none")
      include parts/layout.footer.jade
      include parts/layout.sidebar.jade
    script(src='//localhost:35729/livereload.js')