include parts/login.header.jade
.container
  .card.card-container
    img.profile-img-card#profile-img(src="/assets/img/logo-small-w-border-01.svg")
    p.profile-name-card
    form.form-signin(action='/rf/login', method='post')
      span.reauth-email#reauth-email
      h4.login-box-msg=$message
      input(type="hidden", name=csrf['nameKey'], value=csrf['name'])
      input(type="hidden", name=csrf['valueKey'], value=csrf['value'])
      .form-group
        input.form-control#inputEmail(type='username', name='username', placeholder='Username')
      .form-group.has-feedback
        input.form-control#inputPassword(type='password', name='password', placeholder='Password')
      .form-group
        .checkbox#remember
          label
            input(type="checkbox" value="remember-me", name='remember-me')
            span Remember me
      .row
        .col-xs-12
          button.btn.btn-primary(type='submit') Sign In
      .row
        .col-xs-6
          a.forgot-password(href="/rf/forgot") Forgot the password?
        .col-xs-6
          a.not-user(href="#")

  script.
    $( document ).ready(function() {
      $.rokfor.loadProfile();
    });
  