// SELECT

.col-md-6
  .box.box-primary
    .box-header
      h4.box-title=template->getFieldName()
        if (template->getHelpdescription())
          i.fa.fa-question-circle(data-toggle="tooltip", title=template->getHelpdescription())
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus      
    .box-body
      .form-group
        :php
          $data = $field->getRelationsAsArray($config['history_command']);
        select.form-control.rfselect(id=field->getId(), style='width: 100%;', multiple=($config['multiple']==1?'multiple':false))
          each select in field->getHistory()
            option(value=select.id, selected=(in_array($select['id'], $data)?'selected':false))!=select.value."&nbsp;(".$select['id'].")"
