// LOCATION PICKER

.col-md-12
  .box.box-info
    .box-header
      h4.box-title=template->getFieldName()
        if (template->getHelpdescription())
          i.fa.fa-question-circle(data-toggle="tooltip", title=template->getHelpdescription())
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus      
    .box-body          
      :php
        | $_data = json_decode($field->getContent(), true);
      .form-group
        label.col-sm-2.control-label=$translations['picker_address']
        .col-sm-10
          input.form-control
      .form-group
        label.col-sm-2.control-label=$translations['picker_map']
        .col-sm-10
          .rfpicker(id=field->getId(), type="text", data-lat=(is_numeric($_data[0]) ? $_data[0] : $config['latitude']), data-long=(is_numeric($_data[1]) ? $_data[1] : $config['longitude']))