// TABLE

.col-md-12
  .box.box-success
    .box-header
      h4.box-title=template->getFieldname()
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus      
    .box-body                  
      table.table.table-bordered.table-striped.dataTable.rftable(id=field->getId())
        thead
          tr
            th Sort
            each col in $config['colnames']
              th=col
            if ($config['growing']==true)
              th
            else
              th(style="display:none")
        tbody
          :php
            | $rows = json_decode($field->getContent(), true); if ($field->getContent() <> "") {if (!is_array($rows[0]) && is_array($rows)) $rows = [$rows]; else if (!is_array($rows)) $rows = [[$field->getContent()]];}
          each row in $rows
            tr
              td
              :php
                | $c = 0;
              each col in $config['colnames']
                td
                  textarea.rowedit=($row[$c]?$row[$c]:"")
                  :php
                    | $c++;
              if ($config['growing']==true)
                td
                  a.btn.btn-xs.btn-danger 
                    i.fa.fa-minus
              else
                td(style="display:none")
                  a.btn.btn-xs.btn-danger 
                    i.fa.fa-minus

      if ($config['growing']==true)
        a.btn.btn-xs.btn-success
          i.fa.fa-plus