// INTEGER

.col-md-6
  .box.box-info
    .box-header
      h4.box-title=template->getFieldName()
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus      
    .box-body                  
      .input-group
        if ($config['integer'])
          span.input-group-addon
            i.fa.fa-calculator
          input.form-control.rfnumeric(id=field->getId(), type="text", data-inputmask='"alias": "decimal"', value=field->getContent())
        else
          span.input-group-addon
            i.fa.fa-calendar
          :php
            | $formatted_date = @date($translations['datefield'], $field->getContent());
          input.form-control.rfmask(id=field->getId(), type="text", value=$formatted_date, data-inputmask='"alias": "datetime"')
        