// MATRIX

.col-md-6
  .box.box-info
    .box-header
      h4.box-title=template->getFieldName()
      .box-tools.pull-right
        button.btn.btn-default.btn-sm(data-widget="collapse")
         i.fa.fa-minus      
    .box-body          
      input.rfmatrix(id=field->getId(), type="text", value=field->getContent())