table#groupstable.table.table-bordered.table-striped.dataTable
  thead
    tr
      th=$translations['users_groupid']
      th=$translations['users_groupname']
  tbody
    each group in groups
      tr
        td=$group->getId()
        td=$group->getGroup()
          span.pull-right
            a.btn.btn-danger.btn-xs(data-modal="#groupmodal")=$translations['group_delete']
            span &nbsp;
            a.btn.btn-warning.btn-xs(data-modal="#groupmodal")=$translations['users_groupmodify']
if updatecsrf
  include ../js/csrf.js.jade