if ($__currentuser__['level'] > 1)
  aside.control-sidebar.control-sidebar-dark
    .margin
      h3.control-sidebar-heading=$translations['settings_structure']
      a.btn.btn-block.btn-sm.btn-primary.ajaxload(href='/rf/structure', target=".content-wrapper#list", data-toggle="control-sidebar")
        i.fa.fa-files-o &nbsp;
        span=$translations['structure_title']
      a.btn.btn-block.btn-sm.btn-primary.ajaxload(href='/rf/templates', target=".content-wrapper#list", data-toggle="control-sidebar")
        i.fa.fa-paper-plane-o &nbsp;
        span Templates
      if ($__currentuser__['level'] > 2)
        <!-- Root Stuff -->
        h3.control-sidebar-heading=$translations['settings_user']

        a.btn.btn-block.btn-sm.btn-danger.ajaxload(href='/rf/users', target=".content-wrapper#list", data-toggle="control-sidebar")
          i.fa.fa-users &nbsp;
          span Users

        h3.control-sidebar-heading=$translations['settings_hooks']

        a.btn.btn-block.btn-sm.btn-warning.ajaxload(href='/rf/routehooks', target=".content-wrapper#list", data-toggle="control-sidebar")
          i.fa.fa-rocket &nbsp;
          span=$translations['settings_route_hooks']
        a.btn.btn-block.btn-sm.btn-warning.disabled(href='javascript::;', style="opacity: 0.25;")
          i.fa.fa-rocket &nbsp;
          span Batch Hooks
        a.btn.btn-block.btn-sm.btn-warning.disabled(href='javascript::;', style="opacity: 0.25;")
          i.fa.fa-plug &nbsp;
          span Exporter Hooks

  .control-sidebar-bg
