if alert
  .alert.alert-dismissible.margin.alert-danger(style="position: absolute; z-index: 20000; right: 0;")
    button.close(type="button", data-dismiss="alert", aria-hidden="true") ×
    h4
      i.icon.fa.fa-warning
      span=$translations['alert_danger']
    span!=alert
table#userstable.table.table-bordered.table-striped.dataTable
  thead
    tr
      th=$translations['users_id']
      th=$translations['users_name']
      th=$translations['users_email']
  tbody
    each user in users
      tr
        td=$user->getId()
        td=$user->getUsername()
        td=$user->getEmail()
          span.pull-right
            a.btn.btn-danger.btn-xs(data-modal="#usermodal")=$translations['users_delete']
            span &nbsp;
            a.btn.btn-warning.btn-xs(data-modal="#usermodal")=$translations['users_modify']
if updatecsrf
  include ../js/csrf.js.jade
