table#userstable.table.table-bordered.table-striped.dataTable
  thead
    tr
      th=$translations['users_id']
      th=$translations['users_name']
      th=$translations['users_email']
  tbody
    each user in users
      tr
        td=$user->getId()
        td=$user->getUsername()
        td=$user->getFilerights()
          span.pull-right
            a.btn.btn-danger.btn-xs(data-modal="#usermodal")=$translations['users_delete']
            span &nbsp;
            a.btn.btn-warning.btn-xs(data-modal="#usermodal")=$translations['users_modify']
if updatecsrf
  include ../js/csrf.js.jade